extends layout

block content
  h1= title
  p Search for a food product to see how much sugar it contains...

  form(action="/fat-api/search" method="GET" id="searchForm")
    label(for="search")
    input(type="text" name="search" autocomplete="off" required autofocus)
    button(type="submit") Search

  ul#searchResult
    